extends templates/template

block styles
    //- Controls overlay style
    link(rel="stylesheet", href="/styles/room/controls_overlay.css")
    //- Notes paper
    link(rel="stylesheet", href="/styles/room/notes_paper.css")
    //- Color scheme
    link(rel="stylesheet", href="/styles/room/color_scheme.css")
    //- Ideas list
    link(rel="stylesheet", href="/styles/room/ideas_list.css")

block content
    //- Modal for updating the brainstorming subject
    include room_components/change_subject_model

    //- Overlay with options on the bottom
    include room_components/controls_overlay

    //- Notes paper
    include room_components/notes_paper

    //- Page elements
    div(class="container mt-5")

        //- Holds the room code on top of the page
        h3(class="text-center cursor-pointer" id="room-code-text")
        //- Leave the room button
        div(class="text-right mb-3")
            a(href="/leave_room" class="d-inline-block px-3 text-center remove-underline rounded shadow-sm border py-2 pink-bg text-white")
                | Leave Room
        div(class="rounded shadow-sm border p-4 my-3 bg-white")
            //- Shows current brainstorming subject and a button to open up the modal
            h3 
                span(id="brainstorming-subject-title") What's the brainstorming subject?
                button(type="button" class = "bg-transparent border-0" data-toggle="modal" data-target="#changeSubjectModal")
                    i(class="ml-2 far fa-edit pink-text cursor-pointer")
            //- Show users count
            p(id="users_count" class="text-muted mb-0")
            p(id="username" class="text-muted mb-0")

        //- Ideas panel
        include room_components/ideas_panel

        //- Credits note
        p(class='h6 text-center mb-5')
            i(class="fas fa-copyright mr-2")
            span Made by Luka Robajac 

block scripts
    //- Fontawesome kit
    script(src="https://kit.fontawesome.com/9122b51f87.js" crossorigin="anonymous")

    //- Socket.io 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")

    //- jQuery
    script(src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous")

    //- Bootstrap additional JS for modals to function properly
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    
    //- Load variables
    script.
        roomCode="#{room_code}"
        users_count="#{users_count}"
        document.getElementById('users_count').innerText = `${users_count} people brainstorming`
    
    script(src="/javascript/separate_room_code.js")
    //- Room sockets
    script(src="/javascript/room/room.js")
    //- Subject updating
    script(src="/javascript/room/update_subject.js")
    //- Ideas handler
    script(src="/javascript/room/ideas.js")
    //- Notes handler
    script(src="/javascript/room/notes.js")
